archive/ai-teknik-destek-full.json
{
  "name": "AI Teknik Destek - Full",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "teknik-destek",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Email Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4",
        "messages": {
          "messageType": "multipleMessages",
          "messages": [
            {
              "role": "system",
              "content": "Sen MOTTONI Cold Foil makinesi teknik uzmanısın. Müşteri sorularını Türkçe analiz et, teknik bilgi bankasından cevap bul ve müşterinin dilinde (İngilizce/Rusça/Türkçe) profesyonel cevap hazırla. Makine özellikleri: 35x50cm, 50x70cm, 70x100cm, 100x140cm formatları. Foil tasarruf sistemi, çoklu folyo kullanımı, CE sertifikalı."
            },
            {
              "role": "user",
              "content": "Müşteri Sorusu: {{ $json.body.question }}\nMüşteri Dili: {{ $json.body.language }}\nMakine Modeli: {{ $json.body.machine_model }}\nMüşteri Email: {{ $json.body.customer_email }}"
            }
          ]
        }
      },
      "id": "ai-analiz",
      "name": "AI Soru Analizi",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.deepl.com/v2/translate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "DeepL-Auth-Key YOUR_DEEPL_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "target_lang",
              "value": "={{ $('Email Webhook').item.json.body.language === 'EN' ? 'EN' : $('Email Webhook').item.json.body.language === 'RU' ? 'RU' : 'TR' }}"
            }
          ]
        }
      },
      "id": "ceviri",
      "name": "Çeviri",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.turbo-smtp.com/api/mail/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TURBOSMTP_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "ahmet@mottoni.com"
            },
            {
              "name": "to",
              "value": "={{ $('Email Webhook').item.json.body.customer_email }}"
            },
            {
              "name": "subject",
              "value": "Re: {{ $('Email Webhook').item.json.body.subject || 'MOTTONI Technical Support' }}"
            },
            {
              "name": "content",
              "value": "={{ $json.translations ? $json.translations[0].text : $('AI Soru Analizi').item.json.choices[0].message.content }}"
            }
          ]
        }
      },
      "id": "email-gonder",
      "name": "Email Gönder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "YOUR_GOOGLE_SHEETS_ID",
        "sheetName": "TEKNIK_SORULAR",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tarih": "={{ new Date().toISOString() }}",
            "Müşteri": "={{ $('Email Webhook').item.json.body.customer_email }}",
            "Firma": "={{ $('Email Webhook').item.json.body.company_name || 'Bilinmiyor' }}",
            "Soru": "={{ $('Email Webhook').item.json.body.question }}",
            "MakineModeli": "={{ $('Email Webhook').item.json.body.machine_model || 'Belirtilmemiş' }}",
            "Cevap": "={{ $('Çeviri').item.json.translations ? $('Çeviri').item.json.translations[0].text : $('AI Soru Analizi').item.json.choices[0].message.content }}",
            "Dil": "={{ $('Email Webhook').item.json.body.language }}",
            "Durum": "Cevaplandı",
            "EmailGönderildi": "Evet"
          }
        }
      },
      "id": "kayit",
      "name": "Google Sheets Kayıt",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 480]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/botYOUR_BOT_TOKEN/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "YOUR_TELEGRAM_CHAT_ID"
            },
            {
              "name": "text",
              "value": "🔧 YENİ TEKNİK SORU\\n\\n👤 Müşteri: {{ $('Email Webhook').item.json.body.customer_email }}\\n🏢 Firma: {{ $('Email Webhook').item.json.body.company_name || 'Bilinmiyor' }}\\n❓ Soru: {{ $('Email Webhook').item.json.body.question }}\\n🔧 Makine: {{ $('Email Webhook').item.json.body.machine_model || 'Belirtilmemiş' }}\\n✅ Otomatik cevap gönderildi"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        }
      },
      "id": "telegram-bildirim",
      "name": "Telegram Bildirim",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 380]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Teknik destek talebi işlendi\", \"ticket_id\": \"TECH_\" + new Date().getTime(), \"response_sent\": true } }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Email Webhook": {
      "main": [
        [
          {
            "node": "AI Soru Analizi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Soru Analizi": {
      "main": [
        [
          {
            "node": "Çeviri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Çeviri": {
      "main": [
        [
          {
            "node": "Email Gönder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets Kayıt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Gönder": {
      "main": [
        [
          {
            "node": "Telegram Bildirim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Kayıt": {
      "main": [
        [
          {
            "node": "Telegram Bildirim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bildirim": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}