archive/email-kampanya-otomasyonu.json
{
  "name": "Email Kampanya Otomasyonu",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "haftalik-trigger",
      "name": "Haftalık Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "GOOGLE_SHEETS_ID",
        "sheetName": "FIRMALAR_MASTER",
        "options": {}
      },
      "id": "firma-listesi",
      "name": "Firma Listesi Al",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dil-filtre",
              "leftValue": "={{ $json.Dil }}",
              "rightValue": "EN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "durum-filtre", 
              "leftValue": "={{ $json.Durum }}",
              "rightValue": "Aktif",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ingilizce-filtre",
      "name": "İngilizce Filtre",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dil-filtre",
              "leftValue": "={{ $json.Dil }}",
              "rightValue": "RU",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "durum-filtre",
              "leftValue": "={{ $json.Durum }}",
              "rightValue": "Aktif", 
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "rusca-filtre",
      "name": "Rusça Filtre", 
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "https://api.turbo-smtp.com/api/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TURBOSMTP_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "ahmet@mottoni.com"
            },
            {
              "name": "to",
              "value": "={{ $json.Email }}"
            },
            {
              "name": "subject",
              "value": "MOTTONI Cold Foil - Latest Developments"
            },
            {
              "name": "content",
              "value": "ENGLISH_TEMPLATE_HTML"
            }
          ]
        }
      },
      "id": "ingilizce-gonderim",
      "name": "İngilizce Gönderim",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType", 
        "genericAuthType": "httpBasicAuth",
        "url": "https://api.turbo-smtp.com/api/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TURBOSMTP_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "ahmet@mottoni.com"
            },
            {
              "name": "to",
              "value": "={{ $json.Email }}"
            },
            {
              "name": "subject",
              "value": "MOTTONI Cold Foil - Последние разработки"
            },
            {
              "name": "content",
              "value": "RUSSIAN_TEMPLATE_HTML"
            }
          ]
        }
      },
      "id": "rusca-gonderim",
      "name": "Rusça Gönderim",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "GOOGLE_SHEETS_ID", 
        "sheetName": "KAMPANYALAR",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "KampanyaID": "={{ 'CAMP_' + new Date().getTime() }}",
            "Tarih": "={{ new Date().toISOString() }}",
            "Dil": "EN+RU",
            "Gönderilen": "={{ $('İngilizce Filtre').all().length + $('Rusça Filtre').all().length }}",
            "Durum": "Gönderildi"
          }
        }
      },
      "id": "kampanya-kayit",
      "name": "Kampanya Kayıt",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Haftalık Trigger": {
      "main": [
        [
          {
            "node": "Firma Listesi Al",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firma Listesi Al": {
      "main": [
        [
          {
            "node": "İngilizce Filtre",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rusça Filtre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "İngilizce Filtre": {
      "main": [
        [
          {
            "node": "İngilizce Gönderim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rusça Filtre": {
      "main": [
        [
          {
            "node": "Rusça Gönderim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "İngilizce Gönderim": {
      "main": [
        [
          {
            "node": "Kampanya Kayıt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rusça Gönderim": {
      "main": [
        [
          {
            "node": "Kampanya Kayıt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}