archive/lead-generation.json
{
  "name": "Lead Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression", 
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "gunluk-trigger",
      "name": "Günlük Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "offset printing heidelberg komori"
            },
            {
              "name": "key",
              "value": "YOUR_GOOGLE_MAPS_API_KEY"
            },
            {
              "name": "type",
              "value": "establishment"
            }
          ]
        }
      },
      "id": "google-maps-arama",
      "name": "Google Maps Arama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "sonuc-ayir",
      "name": "Sonuçları Ayır",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "website-kontrol",
      "name": "Website Kontrol",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "offset-kontrol",
              "leftValue": "={{ $json.data }}",
              "rightValue": "offset|printing|heidelberg|komori|kba|manroland",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ofset-filtre",
      "name": "Ofset Filtre",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "GOOGLE_SHEETS_ID",
        "sheetName": "FIRMALAR_MASTER",
        "options": {}
      },
      "id": "mevcut-firmalar",
      "name": "Mevcut Firmalar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-kontrol",
              "leftValue": "={{ $('Mevcut Firmalar').all().map(item => item.json.Email).includes($json.email) }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "yeni-firma-kontrol",
      "name": "Yeni Firma Kontrol",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "GOOGLE_SHEETS_ID",
        "sheetName": "FIRMALAR_MASTER",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FirmaID": "={{ 'FIRM_' + new Date().getTime() }}",
            "FirmaAdı": "={{ $('Sonuçları Ayır').item.json.name }}",
            "Ülke": "={{ $('Sonuçları Ayır').item.json.formatted_address.split(',').pop().trim() }}",
            "Email": "={{ $json.email }}",
            "Website": "={{ $('Sonuçları Ayır').item.json.website }}",
            "Telefon": "={{ $('Sonuçları Ayır').item.json.formatted_phone_number }}",
            "MakineParkuru": "Araştırılacak",
            "Dil": "EN",
            "Durum": "Yeni",
            "Kaynak": "Google Maps"
          }
        }
      },
      "id": "yeni-firma-kayit",
      "name": "Yeni Firma Kayıt",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Günlük Trigger": {
      "main": [
        [
          {
            "node": "Google Maps Arama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Maps Arama": {
      "main": [
        [
          {
            "node": "Sonuçları Ayır",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sonuçları Ayır": {
      "main": [
        [
          {
            "node": "Website Kontrol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Kontrol": {
      "main": [
        [
          {
            "node": "Ofset Filtre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ofset Filtre": {
      "main": [
        [
          {
            "node": "Mevcut Firmalar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Yeni Firma Kontrol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yeni Firma Kontrol": {
      "main": [
        [
          {
            "node": "Yeni Firma Kayıt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}